* {
    box-sizing: border-box;
    color: #000;
}
.flipbox-main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
.flipbox-column-wrapper {
    padding: 10px;
    width: clamp(400px, 33.33%, 100%);
    height: 500px;
}
.flipbox-column {
    position: relative;
    width: 100%;
    height: 100%;
}
.flipbox-front, .flipbox-back {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 25px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all linear 0.3s;
}
.flipbox-front {
    background-color: #F7CCAC;
}
.flipbox-front .gradient {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgb(47,62,70);
    background: linear-gradient(0deg, rgba(47,62,70,1) 0%, rgba(53,79,82,1) 25%, rgba(82,121,111,0.5) 50%, rgba(132,169,140,0.2) 75%, rgba(202,210,197,0) 100%);
}
.flipbox-back {
    background: rgb(47,62,70) !important;
    background: linear-gradient(310deg, rgba(47,62,70,1) 0%, rgba(53,79,82,1) 25%, rgba(82,121,111,1) 50%, rgba(132,169,140,1) 75%, rgba(202,210,197,1) 100%) !important;
}
.flipbox-front .inner, .flipbox-back .inner {
    z-index: 0;
}
.flipbox-front .inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 30px 20px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
}
.flipbox-front.true:before, .flipbox-back.true:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.5);
}
.flipbox-front img, .flipbox-back img {
    position: relative;
    display: block;
    width: 90px;
    height: 90px;
    border: 2px solid #f0f3bd;
    border-radius: 100%;
    margin: 0 auto;
    object-fit: cover;
}
.flipbox-front svg, .flipbox-back svg {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 90px;
    height: 90px;
}
.flipbox-front svg, .flipbox-front svg path {
    fill: #000;
}
.flipbox-back svg, .flipbox-back svg path {
    fill: #fff;
}
.flipbox-front .title, .flipbox-back .title {
    font-family: "Poppins";
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
}
.flipbox-front .title {
    color: #f0f3bd;
    text-align: left;
}
.flipbox-back .title {
    color: #f0f3bd;
}
.flipbox-front .description, .flipbox-back .description {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 200;
    text-align: center;
    line-height: 24px;
}
.flipbox-front .description {
    color: #fff;
    margin: 0px;
    text-align: left;
}
.flipbox-back .description {
    color: #fff;
    margin-top: 10px;
}
.flipbox-front a.button-link, .flipbox-back a.button-link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    margin: 20px auto 0px;
    border-radius: 50px;
    transition: all ease-in-out .36s;
    background-color: transparent;
}
.flipbox-front a.button-link {
    color: #000;
    border: 2px solid #000;
}
.flipbox-front a.button-link:hover {
    color: #F7CCAC;
    background-color: #000;
}
.flipbox-back a.button-link {
    color: #F7CCAC;
    border: 2px solid #F7CCAC;
}
.flipbox-back a.button-link:hover {
    color: #000;
    background-color: #F7CCAC;
}


/*FLIP EFFECTS*/
.flipbox-column-wrapper.flip:hover .flipbox-column.flipLeft {
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
.flipbox-column-wrapper.flip:hover .flipbox-column.flipRight {
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.flipbox-column-wrapper.flip:hover .flipbox-column.flipTop {
    -ms-transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
.flipbox-column-wrapper.flip:hover .flipbox-column.flipBottom {
    -ms-transform: rotateX(-180deg);
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}
.flip .flipbox-column {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}
.flip .flipbox-front, .flip .flipbox-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip .flipbox-front .inner.threeD, .flip .flipbox-back .inner.threeD {
    transform: translateZ(60px) scale(.94);
    -webkit-transform: translateZ(60px) scale(.94);
}
.flip .flipbox-front {
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 1000px;
    -webkit-perspective: 1000px;
}
.flip .flipbox-back {
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 1000px;
    -webkit-perspective: 1000px;
}
.flip .flipbox-column.flipLeft .flipbox-front, .flip .flipbox-column.flipRight .flipbox-front {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.flip .flipbox-column.flipLeft .flipbox-back, .flip .flipbox-column.flipRight .flipbox-back {
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.flip .flipbox-column.flipTop .flipbox-front, .flip .flipbox-column.flipBottom .flipbox-front {
    -ms-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.flip .flipbox-column.flipTop .flipbox-back, .flip .flipbox-column.flipBottom .flipbox-back {
    -ms-transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}


/*PUSH EFFECTS*/
.flipbox-column-wrapper.push:hover .pushLeft .flipbox-front {
    top: 0%;
    left: -100%;
}
.flipbox-column-wrapper.push:hover .pushLeft .flipbox-back {
    top: 0%;
    left: 0%;
}
.flipbox-column-wrapper.push:hover .pushRight .flipbox-front {
    top: 0%;
    left: 100%;
}
.flipbox-column-wrapper.push:hover .pushRight .flipbox-back {
    top: 0%;
    left: 0%;
}
.flipbox-column-wrapper.push:hover .pushTop .flipbox-front {
    top: -100%;
}
.flipbox-column-wrapper.push:hover .pushTop .flipbox-back {
    top: 0%;
}
.flipbox-column-wrapper.push:hover .pushBottom .flipbox-front {
    top: 100%;
}
.flipbox-column-wrapper.push:hover .pushBottom .flipbox-back {
    top: 0%;
}
.push .flipbox-column {
    overflow: hidden;
    border-radius: 15px;
}
.push .pushLeft .flipbox-front {
    top: 0%;
    left: 0%;
}
.push .pushLeft .flipbox-back {
    top: 0%;
    left: 100%;
}
.push .pushRight .flipbox-front {
    top: 0%;
    left: 0%;
}
.push .pushRight .flipbox-back {
    top: 0%;
    left: -100%;
}
.push .pushTop .flipbox-front {
    top: 0%;
    left: 0%;
}
.push .pushTop .flipbox-back {
    top: 100%;
    left: 0%;
}
.push .pushBottom .flipbox-front {
    top: 0%;
    left: 0%;
}
.push .pushBottom .flipbox-back {
    top: -100%;
    left: 0%;
}


/*SLIDE EFFECTS*/
.flipbox-column-wrapper.slide:hover .slideLeft .flipbox-back {
    top: 0%;
    left: 0%;
}
.flipbox-column-wrapper.slide:hover .slideRight .flipbox-back {
    top: 0%;
    left: 0%;
}
.flipbox-column-wrapper.slide:hover .slideTop .flipbox-back {
    top: 0%;
    left: 0%;
}
.flipbox-column-wrapper.slide:hover .slideBottom .flipbox-back {
    top: 0%;
    left: 0%;
}
.slide .flipbox-column {
    overflow: hidden;
    border-radius: 15px;
}
.slide .slideLeft .flipbox-back {
    top: 0%;
    left: 100%;
}
.slide .slideRight .flipbox-back {
    top: 0%;
    left: -100%;
}
.slide .slideTop .flipbox-back {
    top: 100%;
    left: 0%;
}
.slide .slideBottom .flipbox-back {
    top: -100%;
    left: 0%;
}


/*FADE EFFECTS*/
.flipbox-column-wrapper.fade:hover .flipbox-back {
    top: 0%;
    left: 0%;
    opacity: 1;
}
.fade .flipbox-column {
    overflow: hidden;
}
.fade .flipbox-back {
    top: 0%;
    left: 0%;
    opacity: 0;
}


/*ZOOM-IN EFFECTS*/
.flipbox-column-wrapper.zoomIn:hover .flipbox-back {
    top: 0%;
    left: 0%;
    opacity: 1;
    transform: scale(1);
}
.zoomIn .flipbox-column {
    overflow: hidden;
}
.zoomIn .flipbox-back {
    top: 0%;
    left: 0%;
    opacity: 0;
    transform: scale(0.7);
}


/*ZOOM-OUT EFFECTS*/
.flipbox-column-wrapper.zoomOut:hover .flipbox-front {
    top: 0%;
    left: 0%;
    z-index: 0;
    opacity: 0;
    transform: scale(0.7);
}
.zoomOut .flipbox-column {
    overflow: hidden;
}
.zoomOut .flipbox-front {
    top: 0%;
    left: 0%;
    z-index: 1;
    opacity: 1;
    transform: scale(1);
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.social-media a:hover i {
    transform: translateY(-8px);
}
.social-media i {
    font-size: 20px;
    color: #f0f3bd;
    margin: 0px 10px;
    transition: all ease-in-out .32s;
}

.setting-wrapper {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 150px;
    border-radius: 10px;
    z-index: 2;
}

.dropdown-container {
    width: 100%;
    position: relative;
    margin-right: 9px;
    background: #2f3e46;
    margin-top: 9px;
    height: 50px;
    border-radius: 5px;
}

.selectEffects, .selectDirection {
    height: 100%;
    width: calc(100% - 10px);
    outline: none;
    cursor: pointer;
    background: transparent;
    border: 0px;
    font-size: 14px;
    font-family: "Poppins";
    color: #fff;
    padding: 5px;
}



